body {

}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}


li {
  color:  ;
  font-size: 150%;
  font-family: monospace;
  font-weight: bold;
  display: inline-block;
  padding: 50px;
}
img {
  border: 10px dotted tomato;
}

img:hover {
  border: 10px dotted gold;
}

h1 {
  color: deeppink;
  font-size: 100px;
  font-family: monospace;
  padding-left: 20px;
}

p {
color: deeppink;


marquee {
  color: mediumpurple;
  font-size: 200px;
}



}

}
